# Pandas Series: The Basics

In [3]:
import numpy as np

import pandas as pd

pd.__version__

u'0.17.1'

### Creating a Pandas Series

#### From a Numpy Array

In [5]:
s1 = pd.Series(np.random.randint(0,100,5))

s1

0    74
1    57
2    34
3    67
4    28
dtype: int32

#### From a List

In [8]:
s2 = pd.Series([10, -12, 30, 40, 50])

s2

0    10
1   -12
2    30
3    40
4    50
dtype: int64

#### From a Dictionary

In [10]:
s3 = pd.Series({ 0 : 1, 1 : 23, 2 : 43, 3 : 89, 4 : 44 })

s3

0     1
1    23
2    43
3    89
4    44
dtype: int64

### Let's view all the three Series side-by-side

In [11]:
# side_by_side function from Wes McKinney, author of Pandas

def side_by_side(*objs, **kwds):
    from pandas.core.common import adjoin
    space = kwds.get('space', 4)
    reprs = [repr(obj).split('\n') for obj in objs]
    print adjoin(space, *reprs)

In [12]:
side_by_side(s1, s2, s3)

0    0          0    10         0     1
1    1          1   -12         1    23
2    2          2    30         2    43
3    3          3    40         3    89
4    4          4    50         4    44
dtype: int64    dtype: int64    dtype: int64

### Indexes can be more meaningful

In [14]:
s4 = pd.Series(np.random.randint(0,100,5), index=['tom', 'jane', 'harry', 'ramesh', 'rachel'])

s4

tom       11
jane      22
harry     64
ramesh    91
rachel    76
dtype: int32

### Accessing Values

#### All Values

In [16]:
s4.values

array([11, 22, 64, 91, 76])

In [18]:
type(s4.values)

numpy.ndarray

#### All Indexes

In [17]:
s4.index

Index([u'tom', u'jane', u'harry', u'ramesh', u'rachel'], dtype='object')

In [19]:
type(s4.index)

pandas.core.index.Index

#### Len, Size, Shape

In [29]:
# Series len, size, shape etc.

len(s4), s4.size, s4.shape

(5, 5, (5L,))

In [30]:
s_temp = pd.Series([1, 10, -3, np.nan])

s_temp

0     1
1    10
2    -3
3   NaN
dtype: float64

In [31]:
len(s_temp), s_temp.size, s_temp.shape

(4, 4, (4L,))

In [32]:
s_temp.count() # Gives all the non-nan values

3

#### Index Value tests

In [22]:
# checking if the index value exists 

print 'ramesh' in s4

print 'jin' in s4

True
False

#### Head and Tail

In [23]:
s4.head(2)

tom     11
jane    22
dtype: int32

In [24]:
s4.tail(3)

harry     64
ramesh    91
rachel    76
dtype: int32

#### Accessing value by Index

In [25]:
s4

tom       11
jane      22
harry     64
ramesh    91
rachel    76
dtype: int32

In [26]:
s4['ramesh']

91

In [27]:
s1

0    0
1    1
2    2
3    3
4    4
dtype: int64

In [28]:
s1[3]

3

#### Do not confuse between Position-based and Label-based lookup

In [44]:
s5 = pd.Series(np.random.randint(1,100, 5), index=[45, 87, 48, 23, 43])

s5

45    69
87    35
48    91
23    28
43    11
dtype: int32

In [45]:
s5[45]  # Try s5[0] also

69

#### Use .loc for Label based lookup

In [46]:
s5.loc[23]

28

In [52]:
# s5.loc[0] # Gives an Error!

In [53]:
s5.loc[[23, 48, 45]]

23    28
48    91
45    69
dtype: int32

#### Use .iloc for Position based lookup

In [50]:
s5.iloc[0], s5.iloc[1]

(69, 35)

In [51]:
# s5.iloc[23] # Gives an Error!

In [54]:
s5.iloc[[0,2,4]]

45    69
48    91
43    11
dtype: int32

In [55]:
s5.iloc[1:3]

87    35
48    91
dtype: int32

#### Use .ix to lookup by Label or by Position

In [63]:
s4

tom       11
jane      22
harry     64
ramesh    91
rachel    76
dtype: int32

In [64]:
s4.ix['jane']

22

In [65]:
s4.ix[['jane', 'rachel']]

jane      22
rachel    76
dtype: int32

In [67]:
s4.ix[3]

91

In [68]:
s4.ix[[1,4]]

jane      22
rachel    76
dtype: int32

Generally .loc & .iloc are preferred so there is no ambiguity and have better performance.

### Enumeration

In [70]:
for item in s4.iteritems():
    print item

('tom', 11)
('jane', 22)
('harry', 64)
('ramesh', 91)
('rachel', 76)

### Naming

In [71]:
s4.name ='Random'
s4.index.name = 'MyIndex'

s4

MyIndex
tom       11
jane      22
harry     64
ramesh    91
rachel    76
Name: Random, dtype: int32